.filterContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.label {
  font-weight: bold;
  margin-bottom: 3px;
}

input {
  padding: 8px;
  border: 1px solid #707070;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
